<nav>
   <div class="nav-wrapper">
     <a href="/todos" class="brand-logo">Do Shit</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><a href="/todos/new">New Task</a></li>
      
     </ul>
   </div>
 </nav>
